@page "/servers"
@rendermode InteractiveServer

<h3>Servers</h3>
<br/>
<CityListComponent @ref="_cityListComponent"
                   SelectCityCallback="HandleCitySelection"></CityListComponent>

<br/>

<SearchComponent _serverFilter="@_serverFilter"
                 HandleSearchFilter="HandleSearchFilter"></SearchComponent>


@* We can pass value from parent component to child component using
[parameter] atttrubute on the child component
<ServerListComponent
    CityName="@selectedCity" _searchFilter="@_serverFilter"></ServerListComponent>
*@

@*
But we can also pass value from the parent component to child component
by Cascading Value like following, here we are cascading the
selectedCity from parent component to child component.
For the following scenario the document root looks like following,
Server(ParentComponent) --> ServerListComponent --> ServerComponent
in this example, we will pass the selectedCity form the root component
and will catch that  value in the ServerComponent*@

<CascadingValue Name="SelectedCity" Value="@selectedCity">
    <ServerListComponent
        CityName="@selectedCity"
        _searchFilter="@_serverFilter"></ServerListComponent>
</CascadingValue>

@code {

    private CityListComponent _cityListComponent;
    private string selectedCity = "Toronto";

    private string _serverFilter = string.Empty;
    private void HandleCitySelection(string cityName)
    {
        selectedCity = cityName;
        _serverFilter = string.Empty;
    }

    private void HandleSearchFilter(string serverFilter)
    {
        _serverFilter = serverFilter;
        _cityListComponent.ClrListComponent();
    }
}
