@page "/servers"
@rendermode InteractiveServer

<h3>Servers</h3>
<br/>
<CityListComponent @ref="_cityListComponent"
                   SelectCityCallback="HandleCitySelection"></CityListComponent>



<br/>

<SearchComponent _serverFilter="@_serverFilter"
                 HandleSearchFilter="HandleSearchFilter"></SearchComponent>


<CascadingValue Name="SelectedCity" Value="@selectedCity">
    <ServerListComponent
        CityName="@selectedCity"
        _searchFilter="@_serverFilter"
        AnotherParam="@anotherParam"></ServerListComponent>
</CascadingValue>


@* when i cilck on the following button a randoem value will be assigned to
    the AnotherParam variable, and that value will be passed to the
    ServerList component. *@
<p>
    <button class="btn btn-primary" @onclick="@(() => { Random random = new Random();
                                                    anotherParam = random.Next(0, 100);
                                                        })">Change Param</button>
</p>

@code {



    private CityListComponent _cityListComponent;
    private string selectedCity = "Toronto";

    private int anotherParam;

    private string _serverFilter = string.Empty;
    private void HandleCitySelection(string cityName)
    {
        selectedCity = cityName;
        _serverFilter = string.Empty;
    }

    private void HandleSearchFilter(string serverFilter)
    {
        _serverFilter = serverFilter;
        _cityListComponent.ClrListComponent();
    }
}
